
.navbar-default {
    background: none;
    font-size: 1.4em; 
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
    text-decoration: underline;
}
.jumbotron {
    width: 100%;
    height: 100vh;
    color: white;
    background-image: url("images/lenses.jpg");
    background-size: cover;
    opacity: 0.85;

}
.jumbo-text {
    margin-top: 10%;

}
.jumbo-text h1 {
    text-shadow: 1px 2px 1px #000,
    -2px -2px 1px #000,
    -2px 2px 1px #000,
     2px -2px 1px #000;
}

#portfolio {
    text-align: center;
}

.row {
    margin-top: 30px;
}
#contact {
    text-align: center;
}

#wildlife-thumb, #landscape-thumb {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.image {
    height: auto;
    width: 100%;
    opacity: 0.75;
    border-radius: 5%;
}
.image:hover {
    opacity: 1.0;
}

.portrait {
    grid-row-start: span 3;
}
.twoCol {
    grid-column-start: span 2;
}


#profile-pic {
    height: 400px;
    width: auto;
    border-radius: 20%;
}
#about-me-grid {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-gap: 10px;
}
div > p {
    text-align: justify;
    margin-left: 25px;
}
div > h3 {
    text-align: center;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#contact-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    list-style: none;
}
